:root {
    --bg-primary: #1abc9c;
    --bg-secondary: #2C3E50;
    --bg-background: white;

    --text-primary: white;
    --text-secondary: white;
    --text-background: black;

    --header-standard: #2C3E50;
    --header-filled: white;

    --divider-standard: #2C3E50;
    --divider-filled: white;

    --breadcrumb: #E9ECEF;

    --bg-form: white;
    --bg-text: black;

    --border-modal: white;

    --bg-floating-contact: #2C3E50;

    --bg-graph: white;

    --border-category: 2px #1abc9c white;
}
