.header {
	width: 100%;
	background-color: blue;
}

.info {
	margin-top: 20px;
}

.graph {
	page-break-inside: avoid;

}

.graph-body {
	text-align: center;
	border: 2px solid black;
	margin: 20px;
	border-radius: 20px;
	padding: 20px;
	background-color: white;
}

.space {
	height: 50px;
}

.data-table {
	width: 100%;
	border-collapse: collapse;
}

.data-table th {
	text-align: center;
}

.data-table td {
	text-align: left;
	padding-left: 10px;
}

body {
	padding: 30px;
	font-family: 'Arial'
}
