.header {
	width: 100%;
	background-color: blue;
}

.graph {
	text-align: center;
	page-break-inside: avoid;
	border: 2px solid black;
	margin: 20px;
	border-radius: 20px;
	padding: 20px;
}

.data-table {
	width: 100%;
	border-collapse: collapse;
}

.data-table th {
	text-align: center;
}

.data-table td {
	text-align: left;
	padding-left: 10px;
}

* {
  font-family: 'Arial'
}
