#uploadZone {
    background-color: transparent;
    border: 2px dashed white;
    border-radius: 5px;
}

.language-tile img {
	width: 200px;
}

.first-section {
	padding-top: 2rem;
}

#notifications {
	padding-top: 4.5rem;
}

@media (min-width: 992px) {
	#notifications {
		padding-top: 6.5rem;
	}
}


