/* All pages */
.language-tile img {
	width: 200px;
}

.first-section {
	padding-top: 2rem;
}

#notifications {
	padding-top: 4.6rem;
}

@media (min-width: 992px) {
	#notifications {
		padding-top: 6.5rem;
	}
}

.round-bottom {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.round-top {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

/* Categories */
.category-selected {
	box-sizing: border-box;
	background-color: #2C3E50;
	border: 5px solid #2C3E50;
}

.category {
	border: 2px solid var(--border-category);
	transition: 0.3s;
}

.category:hover {
	transform: translate(0px, -10px)
}

/* Index page */
#uploadZone {
    background-color: transparent;
    border: 2px dashed white;
    border-radius: 5px;
}

.floating-contact {
	right: 0px;
	bottom: 50%;
	background-color: var(--bg-floating-contact);
	padding: 0px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 15px;
	color: white;
	border: 2px solid white;
}

.floating-contact:hover {
	width: 70px;
}

.floating-contact a {
	color: inherit;
}

.floating-contact a:hover {
	text-decoration: none;
}

/* Account page */
.account-item:hover {
	background-color: var(--bg-primary);
}

.account-item a:hover {
	text-decoration: none;
	color: white;
}

/* Graphs page */
.graph-header {
	margin-top: 15px;
	font-size: 25px;
	text-transform: uppercase;
}

.graph-header>a:hover::before {
	content: "#"
}

.graph-header > a {
	text-decoration: none;
	color: inherit;
}

.graph-header > a:hover {
	text-decoration: none;
}

@media (max-width: 992px) {
	/* Graphs page */
	.graph-header {
		font-size: 15px;
	}
}

.graph-button {
	display: inline-block;
	background-color: #1abc9c;
	padding: 4px 10px;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 4px;
}

.col-button {
	display: inline-block;
	background-color: #cce5ff;
	padding: 4px 10px;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 4px;
}

.graph-button:hover {
	border: 2px #2c3e50;
}

.graph-button.disable{
	background-color: gray;
}

.graph-button > a {
	color: white;
	cursor: pointer;
}

.graph-button > a:hover {
	color: white;
	text-decoration: none;
}

/* Dark Button */
.dark-button {
	display: inline-block;
	background-color: #2C3E50;
	text: white;
	padding: 4px 10px;
	border: 2px solid var(--border-category);
	border-radius: 5px;
	box-sizing: border-box;
}

.dark-button > a {
	color: white;
}

.card-columns {
    column-count: 1;
}

@media (min-width: 992px) {
	.card-columns {
		column-count: 2;
	}
}

.data-table thead {
	background-color: #F77B72;
}

.data-table th {
	text-align: center;
}
