# Pliki projektu
db/base.db
db/base.db-journal
uploads/*.zip
frontend/translations/messages.pot
example.zip
examples/*.zip
certificate.crt
private.key

# Pliki konfiguracyjne Pycharma
venv/
.idea/
__pycache__/
.ipynb_checkpoints/
