<section class="page-section portfolio first-section bg-primary pb-0 round-bottom">
    <div class="container">

        <!-- Heading -->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-uppercase">
                {% if current_user.is_authenticated %}
                {{ pack.name }}
                {% else %}
                {{ _("Results") }}
                {% endif %}
            </h2>
        </div>

        <div class="text-center mt-2">
            {% if current_user.is_authenticated and pack.userid == current_user.id %}
            <div class="dark-button"><a href="" data-toggle="modal" data-target="#rename-pack-modal">{{ _("rename") }}</a></div>
            <div class="dark-button"><a href="{{ url_for('main.remove_pack_confirm', id=pack.id, next=request.url) }}">{{ _("remove") }}</a></div>
            {% endif %}
            <div class="dark-button"><a href="{{ url_for('main.pack2pdf', id=pack.id, style='fancy') }}" target="_blank">{{ _("download pdf") }}</a></div>
            <div class="dark-button"><a href="{{ url_for('main.pack2pdf', id=pack.id, style='print') }}" target="_blank">{{ _("download pdf to print") }}</a></div>
            <div class="dark-button"><a href="{{ url_for('main.download_pack_zip', id=pack.id) }}" target="_blank">{{ _("Download zip") }}</a></div>
        </div>

        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center mt-3">
            <!-- Portfolio Item 1-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="portfolio-item mx-auto category {% if category=='messages' %}category-selected{% endif %}">
                    <a class="no-underline" href="{{ url_for('main.graphs_category', id=pack.id, category='messages') }}">
                        <img class="img-fluid" src="{{ m.static('images/category_messages.png') }}" alt="" />
                        <div class="bg-secondary text-light text-center">{{ _("messages") }}</div>
                    </a>
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="portfolio-item mx-auto category {% if category=='posts' %}category-selected{% endif %}">
                    <a class="no-underline" href="{{ url_for('main.graphs_category', id=pack.id, category='posts') }}">
                        <img class="img-fluid" src="{{ m.static('images/foo.png') }}" alt="" />
                        <div class="bg-secondary text-light text-center">{{ _("posts") }}</div>
                    </a>
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-6 col-lg-3 mb-4 mb-lg-0">
                <div class="portfolio-item mx-auto category {% if category=='administration' %}category-selected{% endif %}">
                    <a class="no-underline" href="{{ url_for('main.graphs_category', id=pack.id, category='administration') }}">
                        <img class="img-fluid" src="{{ m.static('images/foo.png') }}" alt="" />
                        <div class="bg-secondary text-light text-center">{{ _("administration") }}</div>
                    </a>
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="portfolio-item mx-auto category {% if category=='other' %}category-selected{% endif %}">
                    <a class="no-underline" href="{{ url_for('main.graphs_category', id=pack.id, category='other') }}">
                        <img class="img-fluid" src="{{ m.static('images/foo.png') }}" alt="" />
                        <div class="bg-secondary text-light text-center">{{ _("other") }}</div>
                    </a>
                </div>
            </div>
        </div>

        {% if not current_user.is_authenticated and not pack.example %}
        <div class="row">
            <div class="col-12 mb-3">
                <div class="bg-secondary text-light pl-3" style="border-radius: 10px; padding: 7px">
                    {% set ls %}<a href="{{ url_for('auth.login') }}" class="text-light"><em>{% endset %}
                    {% set le %}</em></a>{% endset %}
                    {% set rs %}<a href="{{ url_for('auth.register') }}" class="text-light"><em>{% endset %}
                    {% set re %}</em></a>{% endset %}
                     <span>{{ _("%(ls)sLogin%(le)s or %(rs)sRegister%(re)s to store this chart pack permanently and gain access to extra features", ls=ls, le=le, rs=rs, re=re) }}</span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
