<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="page-section-heading header-standard mb-4 d-inline-block text-uppercase">{{ _('Collations') }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="card">
                <div class="card-header bg-secondary text-secondary">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-4">{{ _('Name') }}</div>
                            <div class="col-12 col-sm-4">{{ _('Size') }}</div>
                            <div class="col-12 col-sm-4">{{ _('Date') }}</div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-background p-0 m-0">
                    <ul class="list-group list-group-flush">
                        {% for collation in current_user.collations %}
                        <a class="no-underline" href="{{ url_for('main.collation', id=collation.id) }}">
                            <li class="list-group-item account-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-sm-4 align-middle m-auto">
                                            {{ collation.name }}
                                        </div>
                                        <div class="col-12 col-sm-4 m-auto">
                                            {{ collation.size() }}
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            {{ moment(collation.creation_date).format('l') }} {{ moment(collation.creation_date).format('HH:mm') }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>
                        {% endfor %}

                        {% if not current_user.collations %}
                        <li class="list-group-item account-item">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-sm-4 align-middle m-auto"></div>
                                    <div class="col-12 col-sm-4 m-auto">{{ _('Empty') }}</div>
                                    <div class="col-12 col-sm-4"></div>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-footer bg-secondary text-secondary">
                    <a href="{{ url_for('main.create_collation') }}" class="text-white">{{ _('Create new collation') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

