<div class="portfolio-modal modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title header-standard mb-0">{{ _("Language") }}</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 language-tile">
                            <a href="{{ url_for('main.change_language', lang='en') }}"><img class="mb-5" src="{{ m.theme_image('english.png') }}" alt="English"/></a>
                            <p class="text-background font-weight-bold">English</p>
                        </div>
                        <div class="col-12 col-md-6 language-tile">
                            <a href="{{ url_for('main.change_language', lang='pl') }}"><img class="mb-5" src="{{ m.theme_image('polish.png') }}" alt="Polish"/></a>
                            <p class="text-background font-weight-bold">Polski</p>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary text-capitalize" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>{{ _("Close window") }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
