{% extends "mails/basic.html" %}

{% block content %}
<tr>
<td align='center'
    style='font-size:0px;padding:10px 25px;word-break:break-word;'>
    <div style="color:white;font-family:'Droid Sans', 'Helvetica Neue', Arial, sans-serif;font-size:16px;line-height:20px;text-align:center;">
        Reset you password with the button bellow.
    </div>
</td>
</tr>
<tr>
<td align='center'
    style='font-size:0px;padding:10px 25px;word-break:break-word;'
    vertical-align='middle'>
    <table border='0' cellpadding='0' cellspacing='0'
           role='presentation'
           style='border-collapse:separate;line-height:100%;width:200px;'>
        <tr>
            <td align='center' bgcolor='#178F8F' role='presentation'
                style='background-color:#178F8F;border:none;border-radius:4px;cursor:auto;padding:10px 25px;'
                valign='middle'>
                <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}"
                   style="background:#178F8F;color:#ffffff;font-family:'Droid Sans', 'Helvetica Neue', Arial, sans-serif;font-size:16px;font-weight:bold;line-height:30px;margin:0;text-decoration:none;text-transform:none;"
                   target='_blank'>
                    Reset!
                </a>
            </td>
        </tr>
    </table>
</td>
</tr>
{% endblock %}
