{% macro static(name) -%}
{% if config.CACHING_DISABLED %}
{{ url_for('static', filename=name, time=cache_suffix()) }}
{% else %}
{{ url_for('static', filename=name) }}
{% endif %}
{% endmacro -%}

{% macro theme_image(name) -%}
{% if is_dark_mode() %}
{{ static('images/dark/'+name) }}
{% else %}
{{ static('images/light/'+name) }}
{% endif %}
{% endmacro -%}

{% macro lang_image(name) -%}
{{ static('images/' + get_locale() + '/'+name) }}
{% endmacro -%}

{% macro script(name) -%}
<script type="text/javascript">
{% include name %}
</script>
{% endmacro -%}

