{% import "macros/general.html" as m %}

{% macro render(graph, ordinal) -%}
<div class="graph">
  <div class="space"></div>
  <div class="graph-body">
    <table width="100%">
      <tr>
        <td style="width: 50px;"><h2>{{ordinal}}</h2></td>
        <td style="text-align: center;"><h2 class="graph-header">{{ graph.name_trans }}</h2></td>
        <td style="width: 50px;"></td>
      </tr>
    </table>
    <img src="{{render_chart_png_inline(graph, title=False)|safe}}" width="800"/>
  </div>
</div>
{% endmacro -%}
