{% import "macros/general.html" as m %}

{% macro render(graph, ordinal) -%}
<div class="graph">
  <div class="space"></div>
  <div class="graph-body">
    <table width="100%">
      <tr>
        <td style="width: 50px;"><h2>{{ordinal}}</h2></td>
        <td style="text-align: center;"><h2 class="graph-header">{{ graph.get_name() }}</h2></td>
        <td style="width: 50px;"></td>
      </tr>
    </table>
    {{ render_sth(graph.data) }}
  </div>
</div>
{% endmacro -%}


{% macro render_sth(sth) -%}
  {% if is_pygal_chart(sth) %}
    {{ render_pygal_chart(sth) }}
  {% elif is_pandas_table(sth) %}
    {{ render_pandas_table(sth) }}
  {% else %}
    <p>{{ _("Unknown type of data to render") }}</p>
  {% endif %}
{% endmacro -%}


{% macro render_pygal_chart(chart) -%}
  <img src="{{render_graph_png_inline(chart)|safe}}" width="{{chart.config.width}}" height="{{chart.config.height}}"/>
{% endmacro -%}


{% macro render_pandas_table(table) -%}
  {{ translate_pandas_table(table).to_html(index=False, classes='data-table')|safe }}
{% endmacro -%}
