<section class="page-section portfolio first-section bg-primary pb-0 round-bottom">
    <div class="container">

        <!-- Heading -->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-uppercase">
                {% if current_user.is_authenticated %}
                {{ pack.name }}
                {% else %}
                RESULTS
                {% endif %}
            </h2>
        </div>
        {% if current_user.is_authenticated and pack.userid == current_user.id %}
        <div class="text-center">
            <span class="mr-3"><a href="" data-toggle="modal" data-target="#rename-pack-modal" class="text-secondary">rename</a></span>
            <span class="ml-3"><a href="{{ url_for('main.remove_pack_confirm', id=pack.id) }}" class="text-secondary">remove</a></span>
        </div>
        {% endif %}

        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center mt-4">
            <!-- Portfolio Item 1-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="portfolio-item mx-auto category {% if category=='messages' %}category-selected{% endif %}">
                    <a href="{{ url_for('main.graphs_category', id=pack.id, category='messages') }}">
                        <img class="img-fluid" src="{{ m.static('images/category_messages.png') }}" alt="" />
                        <div class="bg-secondary text-light text-center">messages</div>
                    </a>
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="portfolio-item mx-auto category {% if category=='posts' %}category-selected{% endif %}">
                    <a href="{{ url_for('main.graphs_category', id=pack.id, category='posts') }}">
                        <img class="img-fluid" src="{{ m.static('images/foo.png') }}" alt="" />
                        <div class="bg-secondary text-light text-center">posts</div>
                    </a>
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-6 col-lg-3 mb-4">
                <div class="portfolio-item mx-auto category {% if category=='miscellaneous' %}category-selected{% endif %}">
                    <a href="{{ url_for('main.graphs_category', id=pack.id, category='miscellaneous') }}">
                        <img class="img-fluid" src="{{ m.static('images/foo.png') }}" alt="" />
                        <div class="bg-secondary text-light text-center">miscellaneous</div>
                    </a>
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-6 col-lg-3 mb-4 mb-lg-0">
                <div class="portfolio-item mx-auto category {% if category=='other' %}category-selected{% endif %}">
                    <a href="{{ url_for('main.graphs_category', id=pack.id, category='other') }}">
                        <img class="img-fluid" src="{{ m.static('images/foo.png') }}" alt="" />
                        <div class="bg-secondary text-light text-center">other</div>
                    </a>
                </div>
            </div>
        </div>

        {% if not current_user.is_authenticated %}
        <div class="row">
            <div class="col-12 mb-3">
                <div class="bg-secondary text-light pl-3" style="border-radius: 10px; padding: 7px">
                    <span><a href="{{ url_for('auth.login') }}" class="text-light"><em>Login</em></a> or <a href="{{ url_for('auth.register') }}" class="text-light"><em>Register</em></a> to store this chart pack permanently and gain access to extra features</span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
