{% macro render(graph, current_user, showButton=True) -%}
<div class="card mb-4">
  <div class="text-center">
    <h2 class="page-section-heading text-secondary mb-0 mt-3 d-inline-block text-uppercase">{{ graph.get_name() }}</h2>
  </div>
  <embed type="image/svg+xml" src= {{ graph.data.render_data_uri()|safe }} />
  <div class="card-body mt-0 pt-0">
    {% if graph.pack.user == user() %}
    <div class="graph-button"><a data-sharer="facebook" data-hashtag="SocialInsight" data-url="https://www.google.pl">Share</a></div>
    <div class="graph-button"><a onclick="copyToClipboard({{graph.id}})">Copy link</a></div>
    {% if showButton %}
    <div class="graph-button"><a href="{{ url_for('main.graphs', id=graph.id) }}">Show</a></div>
    {% endif %}
    <div class="graph-button {{ '' if graph.public else 'disable' }}" id="graph-{{graph.id}}-public"><a onclick="toggleGraphPublic({{graph.id}})">Public</a></div>
    {% endif %}
  </div>
  <input class="d-none" type="text" value="{{ url_for('main.graphs', id=graph.id, _external=True) }}" id="graph-{{graph.id}}-url">
</div>
{% endmacro -%}
