{% extends "standard.html" %}

{% block sections %}
<section class="page-section first-section pt-5 pb-5 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">YOUR ACCOUNT</h2>
                </div>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-auto d-none d-sm-block">
                <img src="{{ m.static('images/user_icon.png') }}" style="width: 130px" />
            </div>
            <div class="col-auto">
                <p class="text-light">{{ user.email }}</p>
                <p><a href="{{url_for('auth.change_password')}}" class="text-light">Change Password</a></p>
                <p><a href="{{url_for('auth.change_password')}}" class="text-light">Delete account</a></p>
            </div>
        </div>
    </div>
</section>


<section class="page-section pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                {% include "_data_packs_list.html" %}
            </div>
            <div class="col-12 col-lg-6">
                {% include "_collations_list.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
