{% extends "standard.html" %}

{% block title %}Account{% endblock %}

{% block sections %}
<section class="page-section first-section pt-5 pb-5 bg-primary round-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">YOUR ACCOUNT</h2>
                </div>
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-auto">
                <img src="{{ m.static('images/user_icon.png') }}" style="width: 130px" />
            </div>
            <div class="col-auto">
                <p class="text-secondary">{{ current_user.email }}</p>
                <p><a href="{{url_for('auth.change_password')}}" class="text-secondary">Change Password</a></p>
                <p><a href="{{url_for('auth.remove_account_confirm')}}" class="text-secondary">Delete account</a></p>
            </div>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4 ml-5 mr-5">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Main page</a></li>
        <li class="breadcrumb-item"><a>Account</a></li>
    </ol>
</nav>

<section class="page-section pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6" data-aos="zoom-in">
                {% include "_data_packs_list.html" %}
            </div>
            <div class="col-12 col-lg-6 mt-5 mt-lg-0" data-aos="zoom-in">
                {% include "_collations_list.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
