{% extends "standard.html" %}

{% macro render_message(message) -%}
<div class="card bg-background mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ message.topic }}<img class="ml-3" src="{{ m.static('images/' + message.language + '_icon.png') }}"></h5>
        <p class="card-text"><b>{{ _('From') }}:</b> {{ message.sender }}</p>
      <p class="card-text">{{ message.content }}</p>
      <a href="{{ url_for('admin.message_reply', id=message.id) }}" class="card-link">
          <img src="{{ m.static('images/reply_icon.png') }}" />
          {{ _('Reply') }}
      </a>
      <a href="{{ url_for('admin.message_remove', id=message.id) }}" class="card-link">
          <img src="{{ m.static('images/cross_icon.png') }}" />
          {{ _('Delete') }}
      </a>
    </div>
</div>
{% endmacro -%}

{% block title %}{{ _('Messages') }}{% endblock %}

{% block sections %}
<section class="page-section first-section pt-5 pb-5 bg-primary round-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-uppercase">{{ _('Messages') }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4 ml-5 mr-5">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">{{ _('Main page') }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('admin.panel') }}">{{ _('Admin panel') }}</a></li>
        <li class="breadcrumb-item"><a>{{ _('Messages') }}</a></li>
    </ol>
</nav>


<section class="page-section pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% for message in messages %}
                {{ render_message(message) }}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
