{% extends "standard.html" %}

{% block title %}{{ _('Users') }}{% endblock %}

{% block topscripts %}
{{ super() }}
<script src="{{ m.static('scripts/christmas_ajax.js') }}"></script>
{% endblock %}

{% block sections %}
<section class="page-section first-section pt-5 pb-5 bg-primary round-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-uppercase" data-aos="fade-up" data-aos-duration="500">{{ _('Users') }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4 ml-5 mr-5">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">{{ _('Main page') }}</a></li>
        <li class="breadcrumb-item"><a>{{ _('Admin panel') }}</a></li>
    </ol>
</nav>


<section class="page-section pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-secondary text-secondary">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-3">{{ _('Email') }}</div>
                                <div class="col-12 col-sm-3">{{ _('Confirmed') }}</div>
                                <div class="col-12 col-sm-3">{{ _('Registration date') }}</div>
                                <div class="col-12 col-sm-3">{{ _('Operations') }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-background p-0 m-0">
                        <ul class="list-group list-group-flush">
                            {% for user in users %}
                            <li class="list-group-item account-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-sm-3 align-middle m-auto">
                                            {{ user.email }}
                                        </div>
                                        <div class="col-12 col-sm-3 m-auto">
                                            {% if user.confirmed %}
                                                {{ _('Yes') }}
                                            {% else %}
                                                {{ _('No') }}
                                            {% endif %}
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            {{ moment(user.registration_data).format('l') }} {{ moment(user.registration_data).format('HH:mm') }}
                                        </div>
                                        <div class="col-12 col-sm-3">
                                            <a class="mr-3" href="{{ url_for('admin.user_remove', id=user.id) }}"><img src="{{ m.static('images/cross_icon.png') }}" />{{ _('Delete') }}</a>
                                            {% if not user.confirmed %}
                                            <a href="{{ url_for('admin.user_confirm', id=user.id) }}"><img src="{{ m.static('images/confirm_icon.png') }}" />{{ _('Confirm') }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer bg-secondary text-secondary"><span class="invisible">x</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
