{% import "_macros.html" as m %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Social Insight">
        <meta name="author" content="Radosław Pluta, Jacek Stasiak, Łukasz Klimkiewicz">
        <title>Social Insight {% block title %} {% endblock %}</title>

        <!-- Icon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.ico') }}">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ m.static('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ m.static('css/styles.css') }}">
        <link rel="stylesheet" href="{{ m.static('css/fonts.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        {% block styles %} {% endblock %}

        <!-- Top Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
        {% block topscripts %} {% endblock %}
    </head>
    <body id="page-top">

        <div class="preloader-wrapper">
            <div class="preloader">
                <img src="{{m.static('images/logo_white_icon.png')}}" style="width: 100px" alt="NILA">
            </div>
        </div>

        <!-- Navigation bar-->
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{url_for('main.index')}}"><img id="brandImage" src="{{ m.static('images/logo_white_long.png') }}"></a>
                {% block hamburger %}
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                {% endblock %}
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    {% block navitems %} {% endblock %}
                </div>
            </div>
        </nav>

        <!-- Content -->
        {% block content %} {% endblock %}

        <!-- Copyright Section-->
        <section class="copyright py-4 text-center text-white">
            <div class="container"><small class="pre-wrap">Copyright © 2020</small></div>
        </section>

        <!-- Scroll to Top Button -->
        <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="{{ m.static('scripts/layout.js') }}"></script>
        <script src="{{ m.static('scripts/script.js') }}"></script>
        {% block bottomscripts %} {% endblock %}
    </body>
</html>
