{% extends "standard.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/render_browser.html" as browser %}

{% block title %}{{ _("Category") }} {{ category }}{% endblock %}

{% block topscripts %}
{{ super() }}
<script src="{{ m.static('scripts/charts_ajax.js') }}"></script>
{% endblock %}

{% block sections %}
{% include "parts/_categories.html" %}

{% if current_user.is_authenticated %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-4 ml-5 mr-5">
    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">{{ _("Main page") }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.account') }}">{{ _("Account") }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ _("Pack") }}</li>
  </ol>
</nav>
{% else %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-4 ml-5 mr-5">
    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">{{ _("Main page") }}</a></li>
    <li class="breadcrumb-item">{{ _("Anonymous result") }}</li>
  </ol>
</nav>
{% endif %}

<section>
    {% if graphs %}
    <div class="container-fluid">
        <div class="card mb-4 bg-graph mt-4">
            <div class="card-header bg-secondary text-secondary text-center">
                {{ _('Table of contents') }}
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="card-columns">
                        <ol class="graph-style-list">
                            {% for graph in graphs %}
                            <a class="js-scroll-trigger" href="#graph-{{graph.id}}" onclick="highlightGraph({{graph.id}})"><li style="color: black">{{ graph.get_name() }}</li></a>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
             </div>
        </div>
    </div>
    {% endif %}
</section>

<section>
    {% if graphs %}
    <div class="container-fluid pt-2 pb-3" style="min-height: 300px">
        <div class="card-columns">
            {% for graph in graphs %}
                {{ browser.render(graph) }}
            {% endfor %}
        </div>
    </div>
    {% else %}
        <div class="text-center" style="padding: 100px">
            <h2 class="page-section-heading mb-0 d-inline-block" style="color: gray">{{ _("No graphs in this category") }}</h2>
        </div>
    {% endif %}
</section>

{% include "parts/_rename_pack_modal.html" %}
{% endblock %}
