{% extends "standard.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Change password{% endblock %}

{% block styles %}
    <style>
    #submit {margin: 20px}
    </style>
{% endblock %}

{% block sections %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4 ml-5 mr-5">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Main page</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('main.account') }}">Account</a></li>
        <li class="breadcrumb-item"><a>Change password</a></li>
    </ol>
</nav>

<section class="page-section first-section mt-3">
    <div class="container">

        <!-- Heading -->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">CHANGE PASSWORD</h2>
        </div>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
