{% extends "standard.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/render_browser.html" as browser %}

{% block title %}{{ _("Collation") }} {{ collation.name }}{% endblock %}

{% block topscripts %}
{{ super() }}
<script src="{{ m.static('scripts/charts_ajax.js') }}"></script>
{% endblock %}

{% block sections %}
<section class="page-section portfolio first-section bg-primary pb-5 pt-5 round-bottom">
    <div class="container">
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-uppercase">{{ collation.name }}</h2>
        </div>
        <div class="text-center mt-2">
            <div class="dark-button"><a href="" data-toggle="modal" data-target="#rename-collation-modal">{{ _("rename") }}</a></div>
            <div class="dark-button"><a href="{{ url_for('main.remove_collation_confirm', id=collation.id) }}">{{ _("remove") }}</a></div>
            <div class="dark-button"><a href="{{ url_for('main.collation2pdf', id=collation.id, style='fancy') }}" target="_blank">{{ _("download pdf") }}</a></div>
            <div class="dark-button"><a href="{{ url_for('main.collation2pdf', id=collation.id, style='print') }}" target="_blank">{{ _("download pdf to print") }}</a></div>
            <div class="dark-button"><a href="{{ url_for('main.download_collation_zip', id=collation.id) }}" target="_blank">{{ _("Download zip") }}</a></div>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-4 ml-5 mr-5">
    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">{{ _("Main page") }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.account') }}">{{ _("Account") }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ _("Collation") }}</li>
  </ol>
</nav>

<section>
    {% if collation.graphs %}
    <div class="container-fluid pt-2 pb-3" style="min-height: 300px">
        <div class="card-columns">
            {% for graph in collation.graphs %}
                {{ browser.render(graph) }}
            {% endfor %}
        </div>
    </div>
    {% else %}
        <div class="text-center" style="padding: 100px">
            <h2 class="page-section-heading mb-0 d-inline-block" style="color: gray">{{ _("No graphs in this collation") }}</h2>
        </div>
    {% endif %}
</section>

{% include "parts/_rename_collation_modal.html" %}
{% endblock %}
