{% extends "standard.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_graph_render_macro.html" as graph_m %}

{% block topscripts %}
{{ super() }}
<script src="{{ m.static('scripts/charts_ajax.js') }}"></script>
{% endblock %}

{% block sections %}
{% include "_categories.html" %}
<section>
    <div class="container-fluid pt-4 pb-3">
        <div class="card-columns">
                {{ graph_m.render(pack.get(5)) }}
                {{ graph_m.render(pack.get(6)) }}
                {{ graph_m.render(pack.get(1)) }}
                {{ graph_m.render(pack.get(2)) }}
                {{ graph_m.render(pack.get(3)) }}
                {{ graph_m.render(pack.get(4)) }}
        </div>
    </div>
</section>

{% include "_rename_pack_modal.html" %}
{% endblock %}
