{% extends "standard.html" %}
{% import "_graph_render_macro.html" as graph_m %}

{% block meta %}
{{ super() }}
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Social Insight - {{ graph.get_name() }}" />
<meta property="og:description"   content="Check how much Facebook knows about you!" />
<meta property="og:image"         content="{{ m.static('images/graph_preview.png') }}" />
{% endblock %}

{% block topscripts %}
{{ super() }}
<script src="{{ m.static('scripts/charts_ajax.js') }}"></script>
{% endblock %}

{% block sections %}
<section class="page-section first-section">
    <div class="container">
        <div class="col-12">
            {{ graph_m.render(graph, showButton=False) }}
        </div>
    </div>
</section>
{% endblock %}
