{% extends "standard.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_graph_render_macro.html" as graph_m %}

{% block topscripts %}
{{ super() }}
<script src="{{ m.static('scripts/charts_ajax.js') }}"></script>
{% endblock %}

{% block sections %}
{% include "_categories.html" %}
<section>
    <div class="container-fluid pt-4 pb-3" style="min-height: 300px">
        <div class="card-columns">
            {% for graph in graphs %}
                {{ graph_m.render(graph) }}
            {% endfor %}
        </div>
    </div>
</section>

{% include "_rename_pack_modal.html" %}
{% endblock %}
