{% extends "standard.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block sections %}
{% include "_categories.html" %}



<section>
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="text-center"><h2 class="page-section-heading text-secondary mb-0 d-inline-block">BAR CHART</h2></div>
                <embed type="image/svg+xml" src= {{ pack.get(GraphName.EXAMPLE_BAR_CHART).data|safe }} />
            </div>
            <div class="col-12 col-lg-6">
                <div class="text-center"><h2 class="page-section-heading text-secondary mb-0 d-inline-block">PIE CHART</h2></div>
                <embed type="image/svg+xml" src= {{ pack.get(GraphName.EXAMPLE_PIE_CHART).data|safe }} />
            </div>
            <div class="col-12 col-lg-6">
                <div class="text-center"><h2 class="page-section-heading text-secondary mb-0 d-inline-block">LINE CHART</h2></div>
                <embed type="image/svg+xml" src= {{ pack.get(GraphName.EXAMPLE_LINE_CHART).data|safe }} />
            </div>
            <div class="col-12 col-lg-6">
                <div class="text-center"><h2 class="page-section-heading text-secondary mb-0 d-inline-block">RADAR CHART</h2></div>
                <embed type="image/svg+xml" src= {{ pack.get(GraphName.EXAMPLE_RADAR_CHART).data|safe }} />
            </div>
        </div>
    </div>
</section>

{% include "_rename_pack_modal.html" %}
{% endblock %}
