{% extends "standard.html" %}

{% block bottomscripts %}
    {{ m.script("scripts/dropzone.js") }}
{% endblock %}

{% block sections %}
<!-- Header-->
<header class="masthead bg-primary text-primary text-center round-bottom">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading mb-4">Social Insight</h1>

        <!-- Upload zone-->
        <form id="uploadZone" action="{{ url_for('main.index_post') }}" class="dropzone">
            <img id="uploadLogo" class="masthead-avatar mb-4" src="{{ m.static('images/logo_white_icon.png') }}" alt="" data-aos="fade-down" data-aos-duration="2000">
            <div class="dz-message" style="margin: 0px; padding: 0px;" data-dz-message>
                <span style="font-weight: bold">{{ _('Drop here your data file!') }}</span><br />
                <span><a class="js-scroll-trigger" href="#howToGetSection" style="color: white;"><small>{{ _('How to get it?') }}</small></a></span>
            </div>
        </form>

        <!-- Icon Divider-->
        <div class="divider-custom divider-light mb-0">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mt-0">{{ _('Let us analyse you data') }}</p>
        <p>{{ _('Or check sample output') }} <strong><a href="{{url_for('main.example')}}" class="text-white">{{ _('here!') }}</a></strong></p>
    </div>
</header>

<!-- Features section -->
<section class="page-section portfolio pt-5 pb-4" id="featuresSection">
    <div class="container">

        <!-- Heading -->
        <div class="text-center">
            <h2 class="page-section-heading header-standard mb-0 d-inline-block text-uppercase">{{ _('Features') }}</h2>
        </div>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- features row -->
        <div class="row justify-content-center align-items-center mb-lg-4">
            <div class="col-12 col-md-6 mb-3">
                <div class="portfolio-item mx-auto">
                    <img class="img-fluid" src="{{ m.static('images/feature_graph.png') }}" data-aos="fade-left" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <h3 class="header-standard text-center text-capitalize">{{ _('Generating graphs') }}</h3>
                <p class="text-justify">{{ _('This is the main purpose on this application. We can generate a lot of graphs and tables grouped in a few categories to keep them organized.') }}</p>
            </div>
        </div>

        <!-- features row -->
        <div class="row justify-content-center align-items-center mb-lg-4">
            <div class="col-12 col-md-6 order-md-2 mb-3">
                <div class="portfolio-item mx-auto">
                    <img class="img-fluid p-0" src="{{ m.static('images/feature_save.png') }}" data-aos="fade-right" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5 order-md-1">
                <h3 class="header-standard text-center text-capitalize">{{ _('Safety') }}</h3>
                <p class="text-justify">{{ _('Our application is using safe https protocol, so your data is safe during uploading. Then is processed on the served side and immediately deleted.') }}</p>
            </div>
        </div>

        <!-- features row -->
        <div class="row justify-content-center align-items-center mb-lg-4">
            <div class="col-12 col-md-6 mb-3">
                <div class="portfolio-item mx-auto">
                    <img class="img-fluid" src="{{ m.static('images/feature_pdf.png') }}" data-aos="fade-left" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <h3 class="header-standard text-center">{{ _('Generating PDFs') }}</h3>
                <p class="text-justify">{{ _('Generate pdf files with ease, just click one button. Two versions of pdfs are available: fancy and version to print.') }}</p>
            </div>
        </div>

        <!-- features row -->
        <div class="row justify-content-center align-items-center mb-lg-4">
            <div class="col-12 col-md-6 order-md-2 mb-3">
                <div class="portfolio-item mx-auto">
                    <img class="img-fluid p-0" src="{{ m.static('images/feature_share.png') }}" data-aos="fade-right" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5 order-md-1">
                <h3 class="header-standard text-center text-capitalize">{{ _('Sharing') }}</h3>
                <p class="text-justify">{{ _('You can easily share your graphs on facebook. You can also copy a link to your graph and paste it anywhere you like.') }}</p>
            </div>
        </div>

    </div>
</section>

<!-- How to get file Section -->
 <section class="page-section bg-primary portfolio pt-5 pb-4 round-top" id="howToGetSection">
    <div class="container">

        <!-- Heading -->
        <div class="text-center">
            <h2 class="page-section-heading header-filled mb-0 d-inline-block text-uppercase">{{ _('How to get data file?') }}</h2>
        </div>

        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- How to get row -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 mb-3">
                <div class="portfolio-item mx-auto mb-md-4">
                    <img class="img-fluid" src="{{ m.lang_image('how_get_1.png') }}" data-aos="fade-left" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5 text-primary">
                <p class="text-justify">1. {{ _('First log in to your facebook account. Then look at upper right corner, click <b>Settings & privacy</b> from the dropdown and then <b>Setting</b>.') }}</p>
            </div>
        </div>

        <!-- How to get row -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 mb-3">
                <div class="portfolio-item mx-auto mb-md-4">
                    <img class="img-fluid" src="{{ m.lang_image('how_get_2.png') }}" data-aos="fade-left" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5 text-primary">
                <p class="text-justify">2. {{ _('Select <b>Your Facebook information</b> from Settings panel on the left.') }}</p>
            </div>
        </div>

        <!-- How to get row -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 mb-3">
                <div class="portfolio-item mx-auto mb-md-4">
                    <img class="img-fluid" src="{{ m.lang_image('how_get_3.png') }}" data-aos="fade-left" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5 text-primary">
                <p class="text-justify">3. {{ _('Click <b>Download your Information</b> on the central panel.') }}</p>
            </div>
        </div>

        <!-- How to get row -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 mb-3">
                <div class="portfolio-item mx-auto mb-md-4">
                    <img class="img-fluid" src="{{ m.lang_image('how_get_4.png') }}" data-aos="fade-left" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5 text-primary">
                <p class="text-justify">4. {{ _('Select data which you want to download. The more you select the more we can analyse. Remember to change <b>Format</b> from HTML to <b>JSON</b>! Then click <b>Create File</b>.') }}</p>
            </div>
        </div>

        <!-- How to get row -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 mb-3">
                <div class="portfolio-item mx-auto mb-md-4">
                    <img class="img-fluid" src="{{ m.lang_image('how_get_5.png') }}" data-aos="fade-left" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5 text-primary">
                <p class="text-justify">5. {{ _('Now you have to wait some time. It may take few seconds to few hours, depending on how much data have to be prepared. When you data file is ready you will receive <b>notification</b>. Just click it, download and send to us!') }}</p>
            </div>
        </div>
    </div>
</section>

<div class="floating-contact position-fixed d-none d-lg-block"><a href="{{ url_for('main.contact') }}"><img src="{{ m.static('images/question_white.png') }}" style="height: 30px"></a></div>
{% endblock %}
