{% extends "standard.html" %}

{% block bottomscripts %}
    {{ m.script("scripts/dropzone.js") }}
{% endblock %}

{% block sections %}
<!-- Header-->
<header class="masthead bg-primary text-primary text-center round-bottom">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading mb-4">Social Insight</h1>

        <!-- Upload zone-->
        <form id="uploadZone" action="{{ url_for('main.index_post') }}" class="dropzone">
            <img id="uploadLogo" class="masthead-avatar mb-4" src="{{ m.static('images/logo_white_icon.png') }}" alt="" data-aos="fade-down" data-aos-duration="2000">
            <div class="dz-message" style="margin: 0px; padding: 0px;" data-dz-message>
                <span style="font-weight: bold">{{ _('Drop here your data file!') }}</span><br />
                <span><a class="js-scroll-trigger" href="#howToGetSection" style="color: white;"><small>{{ _('How to get it?') }}</small></a></span>
            </div>
        </form>

        <!-- Icon Divider-->
        <div class="divider-custom divider-light mb-0">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mt-0">{{ _('Let us analyse you data') }}</p>
        <p>{{ _('Or check sample output') }} <strong><a href="{{url_for('main.example')}}" class="text-white">{{ _('here!') }}</a></strong></p>
    </div>
</header>

<!-- Features section -->
<section class="page-section portfolio pt-5 pb-0" id="featuresSection">
    <div class="container">

        <!-- Heading -->
        <div class="text-center">
            <h2 class="page-section-heading header-standard mb-0 d-inline-block text-uppercase">{{ _('Features') }}</h2>
        </div>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- features row -->
        <div class="row justify-content-center mb-lg-4">
            <div class="col-12 col-md-6 mb-3">
                <div class="portfolio-item mx-auto">
                    <img class="img-fluid" src="{{ m.static('images/foo.png') }}" data-aos="fade-left" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <p class="text-justify">{{ lorem.paragraph() }}</p>
            </div>
        </div>

        <!-- features row -->
        <div class="row justify-content-center mb-lg-4">
            <div class="col-12 col-md-6 order-md-2 mb-3">
                <div class="portfolio-item mx-auto">
                    <img class="img-fluid p-0" src="{{ m.static('images/foo.png') }}" data-aos="fade-right" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5 order-md-1">
                <p class="text-justify">{{ lorem.paragraph() }}</p>
            </div>
        </div>
    </div>
</section>

<!-- How to get file Section -->
 <section class="page-section bg-primary portfolio pt-5 pb-0 round-top" id="howToGetSection">
    <div class="container">

        <!-- Heading -->
        <div class="text-center">
            <h2 class="page-section-heading header-filled mb-0 d-inline-block text-uppercase">{{ _('How to get data file?') }}</h2>
        </div>

        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- How to get row -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3">
                <div class="portfolio-item mx-auto mb-md-4">
                    <img class="img-fluid" src="{{ m.static('images/foo.png') }}" data-aos="fade-left" data-aos-duration="1000"/>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-5 text-primary">
                <p class="text-justify">{{ lorem.paragraph() }}</p>
            </div>
        </div>
    </div>
</section>

<div class="floating-contact position-fixed d-none d-lg-block"><a href="{{ url_for('main.contact') }}"><img src="{{ m.static('images/question_white.png') }}" style="height: 30px"></a></div>
{% endblock %}
