{% extends "standard.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ _("Reset password") }}{% endblock %}

{% block styles %}
    <style>
    #submit {margin: 20px}
    </style>
{% endblock %}

{% block sections %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-4 ml-5 mr-5">
    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">{{ _("Main page") }}</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('auth.login') }}">{{ _("Logging") }}</a></li>
    <li class="breadcrumb-item"><a>{{ _("Reset password") }}</a></li>
  </ol>
</nav>

<section class="page-section first-section mt-3">
    <div class="container">

        <!-- Heading -->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block text-uppercase" data-aos="fade-up" data-aos-duration="500">{{ _("Reset password") }}</h2>
        </div>

        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row text-center">
            <div class="col-12 col-lg-12">
                <p>{{ _("Enter you email address bellow.") }} <br />{{ _("If it is valid you will receive instruction to reset Your password") }}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
