{% extends "basic.html" %}

{% block topscripts %}
<script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
{% endblock %}

{% block navitems %}
<ul class="navbar-nav ml-auto">
    {% if is_dark_mode() %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-uppercase" href="{{ url_for('main.light_mode') }}">{{ _('Light mode') }}</a></li>
    {% else %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-uppercase" href="{{ url_for('main.dark_mode') }}">{{ _('Dark mode') }}</a></li>
    {% endif %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-uppercase" href="{{ url_for('main.contact') }}">{{ _('Contact') }}</a></li>
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-uppercase" data-toggle="modal" data-target="#languageModal" href="">{{ _('Language') }}</a></li>
    {% if current_user.is_authenticated %}
    {% if current_user.is_admin() %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-uppercase" href="{{ url_for('main.admin') }}">{{ _('Admin panel') }}</a></li>
    {% else %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-uppercase" href="{{ url_for('main.account') }}">{{ _('Account') }}</a></li>
    {% endif %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-uppercase" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
    {% else %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded text-uppercase" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
{% include "parts/_flash.html" %}
{% block sections %} {% endblock %}

{% include "parts/_language_modal.html" %}

<!-- Footer section -->
<footer class="footer text-center pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-2">{{ _('Invite friends') }}</h4>
                <p class="pre-wrap mb-0">{{ _('If You like our webside, talk about it to You friends. We would be gratefull!') }}</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 order-md-2">
                <h4 class="mb-2">{{ _('Keep in contact') }}</h4>
                <p class="pre-wrap mb-0">{{ _('If You would like to have a new feature or You found a bug just contact us,') }} <a href='{{url_for("main.contact")}}'>{{ _('here!') }}</a></p>
            </div>
            <div class="col-lg-4 mb-0 mb-lg-0 order-md-1">
                <h4 class="mb-2">{{ _('Like us on facebook') }}</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/Social-Insight-103631201619797" target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

